@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0;
    background-color:var(--white);
    color:var(--black);
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 100%;
    background-color: var(--black);
    height: 132px;
}

a{
    text-decoration: none;
}

nav{
    display: flex;
    justify-content: space-between;
}

.header-top{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--primary-main);
}
.container{
    width: 1200px;
    margin:0 auto;
    
}

.color-blue{
    color:var(--secondary);
}

.color-gray{
    color:var(--primary-main);
}

.socseti{
    width: 16px;
    height: 16px;
    padding: 0 8px;
}

.main-nav{
    margin-top: 32px;
    width: 700px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.tittle-nav{
    font-size: 2.25em;
    text-transform: uppercase;
}

.banner{
    width: 100%;
    height: 300px;
    background-image: url("img/banner.jpg");
    background-position: center;
    filter: opacity(0.5);
}

.avatar{
    border-radius:50%;
    border: 4px solid var(--secondary);
    opacity: 0.8;
}

.name{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.name h1{
    font-size: 1.75em;
    text-decoration: none;
}

.name h2{
    margin: 0;
    padding: 4px 0;
    width: 848px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 1.25em;
}

.name p{
    font-size: 0.75em;
    text-decoration: none;
}

.actions{
    display: flex;
    justify-content: space-between;
}

.updatas{
    margin: 0 12px;
    width: 65%;
    border:1px solid var(--primary-main);
}

.menu{
    background-color:var(--white);
    border-bottom: 1px solid var(--secondary);
}

.menu ul{
    margin: 0px;
    padding: 0px;
    display: flex;
    list-style: none;
}

.menu li{
    padding:15px;
    border-right:1px solid var(--primary-main);
}

.menu a:hover{
    color:var(--secondary);
}

.person{
    padding-top: 20px;
    padding-right: 12px;
    display: flex;
    justify-content: space-between;
}

.person ul{
    margin: 0px;
    padding-left: 16px;
    display: flex;
    list-style: none;
}

.person li{
    padding:0 16px;
}

.person a{
    font-size: 0.9em;
}

.person a:hover{
    color:var(--secondary);
}

.person select{
    padding: 4px 44px;
}

.column{
    margin: 0 12px;
    width: 34%;
}

.data{
    padding: 12px 20px;
    border:1px solid var(--primary-main);
}

.form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form select{
    padding: 4px;
    width: 160px;
}

.form label{
    padding-bottom: 20px;
}

.btn{
    width: 80px;
    padding: 8px 16px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: var(--white);
    background-color: var(--secondary);
    border-radius: 4px;
    border: 1px solid var(--secondary);
}

.data a{
    display: flex;
    justify-content: space-between;
}

.data p{
    margin: 5px;
    font-size: 0.9em;
}

.data a:hover{
    color: var(--secondary);
}

.new{
    margin-top: 48px;
    margin-left: 20px;
    display: flex;
    vertical-align: top;
    font-size: 0.9em;
}

.new img{
    margin-right: 20px;
}

.new p{
    margin-top: 0;
}

.new a{
    color:var(--black);
    font-weight: 700;
}

.new a:hover{
    color: var(--secondary);
}

.time{
    font-size: 0.8em;
}

.about{
    margin-bottom: 20px;
    margin-right: 20px;
    border-bottom: 1px solid var(--primary-main);
}

.size{
    width: 296px;
    height: 240px;
}

.comment{
    display: flex;
    margin-right: 20px;
    border-bottom: 1px solid var(--primery-main);
}

.updatas h3 a{
    margin: 48px;
}

.updatas h3 a:hover{
    color:var(--secondary);
}

footer{
    background-color:var(--primary-dark) ;
}

.col{
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 248px;
    color: var(--primary-main);
}

.teg{
    margin:4px;
    font-size: 0.75em;
    padding: 4px;
}

.col a:hover{
    color:var(--secondary);
}

.col p, .col a{
    font-size: 0.75em;
    color: var(--primary-main);
}

.col input{
    padding: 12px;
}

.category a{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--primary-main);
    font-size: 1em;
    color: var(--primary-main);
}

.footer-menu{
    padding: 48px 0;
    display: flex;
    justify-content: space-between;
}

@media (max-width:768px){

    .container{
        max-width: 748px;
    }

    .header-top{
        display: none;
    }

    nav{
        display: flex;
        flex-direction: column;
    }

    .main-nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    header{
        height: 100%;
    }

    .banner{
        display: none;
    }

    .name h2{
        margin: 0;
        padding: 4px 0;
        max-width: 400px;
        font-weight: 400;
        font-style: italic;
        text-align: center;
        font-size: 1.25em;
    }

    .actions{
        display: flex;
        flex-direction: column;
    }

    .size{
        width: 148px;
        height: 120px;
    }

    .updatas{
        width: auto;
    }

    .column{
        width: auto;
    }

    .form{
        display: flex;
        flex-direction: column;
    }

    .data{
        max-width: 500px ;
    }

    .col{
        margin: 0;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        min-width: 300px;
        color: var(--primary-main);
    }

    .footer-menu{
        padding: 48px 0;
        display:inline-block
    }
}